<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<!DOCTYPE html>
<html>
<% include templates/header.ejs %>
<head>
    <title>Play</title>
    <% include templates/head.ejs %>
</head>
<body>

<script>
    var game = <%- JSON.stringify(game) %>
            $("document").ready(function () {
                var callback = function (data) {
                    $('#playScore_' + data.playerId).html(data.playerScore);
                };

                $(".plus10").click(function () {
                    var buttonId = JSON.stringify($(this).attr('id'));
                    var playerId = buttonId.split("_")[1].replace('"', "");
                    $.get('/game/' + game.id + '/score', {
                        playerId: playerId,
                        change: $(this).text()
                    }, callback);
                });

                $(".minus10").click(function () {
                    var buttonId = JSON.stringify($(this).attr('id'));
                    var playerId = buttonId.split("_")[1].replace('"', "");
                    $.get('/game/' + game.id + '/score', {
                        playerId: playerId,
                        change: $(this).text()
                    }, callback);
                });

                var newPlayerCallback = function(data) {
                    console.log(data);
                };

                $("#newPlayer").click(function() {
                    $.get('/game/' + game.id + '/newPlayer', newPlayerCallback);
                });
            });
</script>

<!--TODO: id data instead of parsing-->
<% for (var i = 0; i < game.players.length; i++) { %>
<div class="player" id="player_<%= i %>">
    <div id="playerName_<%= i %>"><%= game.players[i].name %></div>
    <label id="playScore_<%= i %>"><%= game.players[i].score %></label>
    <button id="plus10_<%= i %>" type="button" class="btn btn-default minus10">-10</button>
    <button id="minus10_<%= i %>" type="button" class="btn btn-default plus10">+10</button>
</div>

<% } %>

<button class="btn btn-primary newPlayer" id="newPlayer">Add player</button>
</body>
</html>