<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<!DOCTYPE html>
<html>
<% include templates/header.ejs %>
<head>
    <title>Watch</title>
    <% include templates/head.ejs %>
</head>
<body>

<script>
    var game = <%- JSON.stringify(game) %>
    $("document").ready(function () {
        var callback = function (data) {
            console.log("hello");
            console.log(data.players[0].score);
            console.log(data.players[1].score);
            console.log(data.players[2].score);

            for (var i = 0; i<data.players.length; i++) {
                var player = data.players[i];
                console.log("id" + player.id);
                console.log("score" + player.score);
                $('#playScore_' + player.id).html(player.score);
            }
        };

        setInterval(function () {
            $.get('/watch/' + game.id + '/game', callback)
        }, 2000);
    });
</script>

<% for (var i = 0; i < game.players.length; i++) { %>
<% var player = game.players[i]%>
<div id="player_<%= i %>"> <%= player.name %></div>
<label id="playScore_<%= i %>"> <%= player.score%></label>
<% } %>

<div id="players"></div>
<% include templates/footer.ejs %>

</body>
</html>